@import "../../assets/styles/mixins";

.file {
  user-select: none;

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      text-decoration: underline;
      font-size: 18px;
      cursor: pointer;
      @include dark-text();
    }
  }
}
