.cvForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    //max-width: 1024px;
    max-width: 100%;
    margin: 0 auto;

    .content {
        max-width: 420px;
        width: calc( 100% - 30px );
        text-align: center;

        .title {
            margin-bottom: 40px;
        }

        .positions,
        .mobile {
            margin-bottom: 36px;
        }

        .name {
            margin-bottom: 10px;
        }

        .comments,
        .links {
            margin-bottom: 33px;
        }

        .linkCv,
        .submit {
            margin-bottom: 31px;
        }
    }
}
