.cvForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    .content {
        width: 420px;
        text-align: center;

        .positions,
        .mobile {
            margin-bottom: 36px;
        }

        .name {
            margin-bottom: 10px;
        }

        .comments,
        .links {
            margin-bottom: 33px;
        }

        .linkCv,
        .submit {
            margin-bottom: 31px;
        }
    }
}
